* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --verde: #6DFE9B;
    --verde-agua: #C7FFD9; 
    --branco: #fff;
    --preto: #000;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--verde-agua);
    
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
    justify-content: center; 
    align-items: center;
}

#contener {
    background-color: var(--branco);
    width: 950px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    display: flex; 
    flex-direction: column;
}